//app variables
$prefix: "hgov";
$mobile: 800px;

//colors
$primary-blue: #1F6BD1;
$teal: #5ADED5;
$black: #333333;
$white: #FFFFFF;


//general 

* {
    font-family: 'avenir';
}

body {
    height: 100%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 100px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 18px;
}

a:link, a:hover {
    font-size: 18px;
    text-decoration: none;
}

//main page

#main-hero {
    background-image: url("/min/images/homepage-hero.jpg");
}

.#{$prefix}-hero-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: center;
    position: relative;

    table {
        margin: auto;
        position:absolute;
        color: $white;
        width: 50%;
        height: 50%;
        top: 0; left: 0; bottom: 0; right: 0;
        overflow: auto;

        h1 {
            font-size: 3vw;
        }

        h2 {
            font-size: 8vw;
        }

        span a {
            font-size: 1.5vw;
        }
    }
}

#middle {

    #iphone {
        margin-top: -20%;
        width:75%;
    }

    .iphone-cont {

    }

    .details {
        text-align:left; 
        margin-top:10px;
        h3 {
            font-size: 3vw;
        }
        h4 {
            font-size: 1.5vw;
        }
    }
}

#next-middle {
    background-color: $primary-blue;
    color: $white;
    padding: 10% 0 10% 0;
    div h4 {
        margin: 0px auto;
        width: 60%;
        line-height: 35px;
        font-size: 2.5vw;
    }
}

.angle-left {
    width: 0;
    height: 0;
    border-top: 50px solid $primary-blue;
    border-left: 980px solid transparent;
}

#neighbors {
    text-align: left;
    margin-left: 5%;
    text-indent: 5%;
    margin-bottom: 5%;

    h3 {
        color: $primary-blue;
        font-size: 3vw;
    }
}

.convoboxes {
    color: $white;
    height: 50%;

    div {
        vertical-align: top;
        background-color: $primary-blue;
        display: inline-block;
        width: 35%;
        margin: 0 5% 5% 5%;
        height: 190px;
        padding: 20px;
        h3 {
            margin-left: 5%;
            text-align: left;
            font-size: 2.5vw;
        }
        h5 {
            color: $teal;
            margin-left: 5%;
            text-align: left;
            font-size: 1.5vw;
        }
    }
}


.#{$prefix}-primary-button{
    background-color: $primary-blue;
    color: $white;
    padding: 2.5% 5% 2.5% 5%;
}

.#{$prefix}-container {
	width: 98%;
	margin: 0 auto;
    text-align: center;
}

.#{$prefix}-modal {
    display: none;
}

##{$prefix}-user-information {
    display: none;
}

##{$prefix}-font-logo {
    color: #1F699C;
    font-weight: bold;
}

##{prefix}-header {
    background-image:none;
    box-shadow: none;
    border:none;
    background-color: white;
}

.#{$prefix}-hero-image {
    width: 100%;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border: none;
}

##{$prefix}-header li a{
    color: #1F699C !important;
}    

.#{$prefix}-form-label {
    width: 160px !important;
}

.#{$prefix}-form-group {
    width: 100% !important;
}

##{$prefix}-logo {
    width: 80%;
}

#{$prefix}-main-table {
    td {
        font-size: 14px;
    }
}

.#{$prefix}-date-label {
    margin-left: 15%;
}

.#{$prefix}-content-label {
    position: relative;
    float: right;
}

.#{$prefix}-help-block,  .#{$prefix}-help-block-reply-form{
    font-size: 14px;
    color: red;
    display: none;
}

.#{$prefix}-footer-clear {
    padding-top: 20px;
    height: 30px;
}

.#{$prefix}-footer {
    width: 100%;
    text-align:center;
    margin-bottom: -10px;

    .footer-block {
        margin-top: 10px;
    }

    #footer-right {
        font-size: 1.5vw;
        text-align: left;
        a {
            font-size: 1.5vw;
        }
    }

    #footer-left {
        text-align: right;

        label {
            display: block;
            margin-bottom: 2px;
        }
    }

    .social-square {
        width: 15%;
        margin: 10px;
    }
}

.#{$prefix}-header-button {
    border: 1px solid black;
}

.#{$prefix}-disabled {
    cursor: default !important;
}

.#{$prefix}-hidden-row {
    display: none;
}

.#{$prefix}-template-td {
    text-align: center;
}

.#{$prefix}-template-label {
    font-weight: bold;
    font-size: 16px;
    border-radius:50px;
}

.#{$prefix}-expand {
    color: black;
    transition: color 0.3s ease;
}

.#{$prefix}-text-function {
    color: black;
    transition: color 0.3s ease;
}

.#{$prefix}-text-function {
    color: black;
    transition: color 0.3s ease;
}

.#{$prefix}-text-function:hover{
     color: #2aabd2
}

.#{$prefix}-expand:hover {
    color: #419641;
}

##{$prefix}-login-container {
    @media screen and (min-width: $mobile) {
        margin-top: -40px;
    }
    input, button {
        margin: 5px;
    }

    button {
        margin-top: 2px;
    }
}

@media screen and (min-width: $mobile) {

    #main-hero {
        font-size: 10px;
    }
        
}
