//app variables

$prefix: "hgov";
$mobile: 800px;

//general 

* {
    font-family: 'avenir';
}

body {
    min-height: 100%;
    margin: 0 auto -30px
}

.header {
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.#{$prefix}-modal {
    display: none;
}    

.#{$prefix}-form-label {
    width: 160px !important;
}

.#{$prefix}-form-group {
    width: 100% !important;
}

##{$prefix}-logo {
    width: 80%;
}

#{$prefix}-main-table {
    td {
        font-size: 14px;
    }
}

.#{$prefix}-date-label {
    margin-left: 15%;
}

.#{$prefix}-content-label {
    position: relative;
    float: right;
}

.#{$prefix}-help-block {
    font-size: 14px;
    color: red;
    text-indent: 165px;
    display: none;
}

.#{$prefix}-footer-clear {
    padding-top: 60px;
    height: 30px;
}

.#{$prefix}-footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;

    width: 100%;
    height: 30px;
    text-align: center;
    vertical-align: middle;

    div {
        margin: 0px;
        padding-top: 15px;
    }
}

.#{$prefix}-disabled {
    cursor: default !important;
}

.#{$prefix}-hidden-row {
    display: none;
}

.#{$prefix}-template-td {
    text-align: center;
}

##{$prefix}-login-container {
    @media screen and (min-width: $mobile) {
        margin-top: -40px;
    }
    input, button {
        margin: 5px;
    }

    button {
        margin-top: 2px;
    }
}
