extend ./layout

block content

    .container

        h2 about us 

        div(style="font-size:15px;")

            p HeartGov was designed with one idea in mind: make it easier for people, community organizations, and government to connect to each other.  
     
            p HeartGov is a text message based platform designed to better connect and create a two-way communication between local government, community based organizations, and residents.  HeartGov provides the space for conversation and collaboration between communities and government on a platform while crossing the digital divide between web and mobile technology.  As of January 2014, a Pew Research Center poll showed that 90% of Americans owned a cell phone, while only 58% owned Smartphones.  
                        
            p With the access to technology available, the technology widely used, and the need for better connection between community and public service, HeartGov provides a low cost, low tech way to organize, survey, propose ideas, ask questions, answer questions, and connect people using text messages.  

            p At the Personal Democracy Forum in June, Anne Marie-Slaughter outlined five keys to improving American values.  HeartGov drew inspiration from her talk, particularly her fifth point: “make everyone a political donor.”  Political engagement is crucial, and we need to examine new methods for expanding the reach of participation in the civic process.  

            p HeartGov, crosses the digital divide of web and mobile, and empowers community members, community groups, and government agents to open communication with one another.  Before change can be enacted, before engagement can rise, before process can be demystified, before movements can organize, we must start the conversation.   HeartGov lets you start the conversation using the cell phone you have in your pocket.  Let’s start the conversation.  