extend ./layout

block content

    .container

        h2 about us 

        p With my project "<3 Gov", I look to test a text message based platform designed to better connect and create a two-way communication between local government and residents. With a focus on SMS, <3 Gov looks to engage with citizens in a new way, utilizing text messages. I believe that <3 Gov can be a tool which creates a better means of communication between community and government, but in so doing allows people (all user groups) a tool for organizing, brainstorming ideas, and collaborating solutions to neighborhood problems.
        p The technology of <3 Gov is divided into two components: the SMS interface and the backend. The SMS interface is the text message component, which users will interact with in order to communicate their ideas and respond to requests. The back end is a database of the text messages that come in, displayed on a private website accessible to governmental users and community group users. This website (an early draft of the site is attached below) will display the text messages as they come in, and allow them to be sorted by issue, urgency level, and phone number. They will also be able to respond to ideas via the website, which will send out a text message response, keeping all interactions over SMS.
        p In an interview with Nancy Romer, local Brooklyn organizer, we talked about how to keep people engaged in civic process she explained, "you have to have things people can do in their own communities small policy change, but it's what keeps fueling activism, you have to feel like you win something." With <3 Gov I hope to allow a space for community members to voice their ideas, create relationships with government agents, and create a means to create and promote small wins.