extend ./layout

block content

    .container

        h2 contact us

            ul(style='margin-top:10px; font-size: 17px;')

                li 
                    label email: 
                    a(href='mailto:heartgov@gmail.com')  heartgov@gmail.com

                li 
                    label contribute: 
                    a(href='//github.com/bencripps/heartgov2')  github