extend ./layout

block content

    .container
        
        h3 welcome to heart gov login area
        table(class="table table-bordered table-striped" id="#{prefix}main-table")
            th(style="text-align:center;" colspan="10") all texts
            tr(id='no-texts' style='display: none;') 
                td There are no texts available at this time.

