extend ./layout

block content
    
    include ./components/contextSwitcher.jade
    
    div(style="text-align:left;")
        button(class='btn btn-success' id='send-general-text') send text message
    
    h3 welcome to heart gov login area
    div(id='text-table')

