extend ./layout

block content

    .container

        h2(style='margin-bottom:20px;') frequently asked questions
        
        h4 Where should I use <3 Gov?
        
        p For the purposes of this pilot project, I want to keep the testing zone to areas of Flatbush, Crown Heights, Midwood, and Prospect Heights. This map shows the general area of testing for now. If you live outside of the designated area, you can still text in your ideas! But the community groups and elected officials who are using the platform are within this zone, so you may not get a quick response if you live outside.

        h4 What can I text in?

        p Anything you want! This is an experiment, and I want to hear what your ideas are. Anything about your neighborhood: is there a street corner you think needs a stop sign? Or an empty lot you think should have a park? How do you feel about stop and frisk? How do you feel about charter schools? Have you ever sat around and told your friends, “if they just listened to my idea, everything would be so much better!” Well, tell us!

        h4 What does it cost?  

        p There is no sign up, and normal text message rates apply.

        h4 Can I help spread the word?

        p Absolutely! Tell your friends and neighbors. If you would like post cards or stickers to hand out around, send us an email and someone will follow up with you to drop off some for you.

                    