extend ./layout

block content

    include ./templates/modal/group-details-modal.jade

    .container
        div(style='text-align:left; margin-bottom:30px;')
            div
                h4 group management
            button(class='btn btn-success btn-sm' id='create-group') create group

        span(class='hgov-key' style='display: none;') #{userLevel}
        
        div(id='groupTable')

        table(class="table table-bordered table-striped" id="#{prefix}group-table")
            tr(id='no-groups' style='display: none;') 
                td There are no groups available at this time.
