extend ./layout

block content

    .container(style='text-align:center;')
        
        img(src='min/images/main.png' id='#{prefix}logo')
        
        div 
            h4(style="text-align:justify;")  HeartGov is a text message based platform designed to better connect and create a two-way communication between local government, community based organizations, and residents.  HeartGov provides the space for conversation and collaboration between communities and government on an accessible platform.  The goal of this project is to show that SMS technology can be an efficient platform to raise levels of civic engagement in disengaged communities. 