doctype
html
  head
    title #{title}
    link(rel='stylesheet' href='vendor/css/bootstrap.min.css')
    link(rel='stylesheet' href='vendor/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='min/styles/main.css')
    script(src='vendor/js/require.min.js')
    script(src='dev/scripts/common.js')
    - each s in scripts
      script(src=s)
  body

    include ./templates/pageheader.jade

    include ./templates/modal.jade

    block content
      
  div(class="#{prefix}footer-clear")
  footer(class='#{prefix}footer navbar navbar-default')
    div
      span
        a(href='mailto:heartgov@gmail.com')  © heartgov 2015

    