extend ./layout

block content

    .container

        h2 follow heart gov in the news

            ul(style='margin-top:10px; font-size: 17px;')

                li 
                    a(href='//techpresident.com/news/25184/brooklyn-testing-texting-platform-connects-locals-representatives-community-leaders')  tech president

                li 
                    a(href='//gcatpace.tumblr.com/post/95137940263/3gov-is-a-text-message-based-platform-designed-to')  generation citizen at pace university

                li 
                    a(href='//middev.org/heartgov/')  midwood development corporation

                li 
                    a(href='//nationswell.com/heartgov-gets-simple-text-connect-brooklyn-residents-leaders/')  nationswell

                li 
                    a(href='//cortelyouroadradio.tumblr.com/post/92588698694/heartgov-allow-a-way-for-people-and-organizations')  midwood development corporation

                    