extend ./layout

block content

    .container(style="padding-top:40px;")

        div(id='#{prefix}login-container')
                input(type='text' class='input-sm #{prefix}login-input' placeholder='email address' name='username')
                input(type='password' class='input-sm #{prefix}login-input' placeholder='password' name='password')
                button(class='btn btn-sm btn-success' id='main-login') login

        div
            span Don't have an account?
            
        div
            span
                a(href='/signup') Signup