div

    nav(class='navbar navbar-default')
        div(class='container-fluid')
            div(class='navbar-header')
                button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='##{prefix}header')
                    span(class='sr-only') Toggle Navigation
                    span(class='icon-bar')
                    span(class='icon-bar')
                    span(class='icon-bar')


        div(class='collapse navbar-collapse' id='#{prefix}header')
            ul(class='nav navbar-nav pull-left')
                li  
                    a(href='/')
                        img(src='min/images/smalllogo.png' style='height:45px; margin-left:10px;')
                    

                li
                    div(style='padding-top:8px' id='#{prefix}font-logo')
                        span(style='font-size:29px; margin-left:40px;') HeartGov

            ul(class='nav navbar-nav pull-right')

                li
                    a(href='/about') About

                li
                    a(href='/faq') How It Works

                li
                    a(href='/press') Press

                if !loggedIn

                    li
                        a(href='/signin') Sign In

                else 
                    li 
                        a(href='/main') Main

                    li
                        a(href='/myaccount') My Account

                    li
                        a(href='/myaccount' id='main-logout') Sign Out 

    