doctype
html
  head
    title HeartGov Email
    style(type='text/css')
        include ./email.css
  body

    .container

        block content

    footer 
        span
            a(href='') copyright heartgov 2014