* {
    background-color: #1F6BD1;
    color: white;
    font-family: avenir;
}

span.hgov {
    color: #5ADED5;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0px auto;
}

footer {
    padding-top: 100px;
    width: 80%;
    margin: 0px auto;
    text-align: center;
}