extend ./base-email.jade

block content

    div 
        span(class="hgov-greeting" style='font-weight:bold;display:block;font-size:4vw;text-align:center;height:26vw;line-height:26vw;') New Text Email!

    div(class='hgov-email-body' style='font-size: 3vw;text-align: center;width:80%;margin: 0px auto;height: 20vw;')
        span As a HeartGov user with administrator access, you are being notified that heartgov received a message. Please login for more details.

    
    div 
        span(class="hgov-greeting" style='font-weight:bold;display:block;font-size:4vw;text-align:center;height:10vw;line-height:10vw;') Phone Number
        span(style='display:block;font-size:2vw;text-align:center;height:4vw;line-height:4vw;color: inherit;text-decoration:none;') #{textDetails.from}
    div 
        span(class="hgov-greeting" style='font-weight:bold;display:block;font-size:4vw;text-align:center;height:10vw;line-height:10vw;') Message
        span(style='display:block;font-size:2vw;text-align:center;height:4vw;line-height:4vw;') #{textDetails.body}

    div(style='height:11vw;line-height:11vw;padding-top:10%')
        a(href='http://heartgov.com/signin' style='text-decoration:none;')
            span(style='padding:1%;display:inline-block;margin:0px auto;background-color:#1F6BD1;width:20%;color:white;display:block;font-size:2vw;text-align:center;height:4vw;line-height:4vw;') Sign in