extend ./emailLayout.jade

block content

    div 
        span Congratulations, you have successfully signed up for 
        span(class='hgov') Heartgov! 
        span If you have any questions about how to use this service, please email heartgov@gmail.com.

    div(style='margin-top:25px;') 
        span Your username is 
        span(class='hgov') #{username}.