extend ./emailLayout.jade

block content

    div 
        span Congratulations, you have successfully signed up for Heartgov! If you have any questions about how to use this service, please email heartgov@gmail.com.

    div 
        span Your username is #{username}.