extend ./emailLayout.jade

block content

    div 
        span(class="hgov-greeting" style='font-weight:bold;display:block;font-size:4vw;text-align:center;height:26vw;line-height:26vw;') Password Reset
        
    div(class='hgov-email-body' style='font-size:3vw;text-align:center;width:80%;margin: 0px auto;height:20vw;')
        span Your HeartGov temporary password is below. If you did not request this reset, please contact a HeartGov    
        span 
            a(href='mailto:heartgov@gmail.com' style='color:#5ADED5;') administrator 
        span immediately.

    div(class='hgov-email-body' style='font-size:3vw;text-align:center;width:80%;margin: 0px auto;height:20vw;')
        span Your new password is
        span(style='font-weight:bold; display:block;') #{password}

    div(style='height:11vw;line-height:11vw')
        a(href='http://heartgov-test.herokuapp.com/signin' style='text-decoration:none;')
            span(style='padding:1%;display:inline-block;margin:0px auto;background-color:#1F6BD1;width:20%;color:white;display:block;font-size:2vw;text-align:center;height:4vw;line-height:4vw;') Sign in