extend ./emailLayout.jade

block content

    div
        span Your 
        span(class='hgov') HeartGov 
        span temporary password is below. If you did not request this reset, please contact a HeartGov 
        span 
            a(href='mailto:heartgov@gmail.com') administrator 
        span immediatley.
        
    div(style='margin-top:25px;') 
        span(style='font-weight:bold;') Your new password is #{password}

    div(style='margin-top:25px;') 
        span 
            a(href='//heartgov-test.herokuapp.com/signin') Login to change password