.hgov-footer-clear {
  padding-top: 20px;
  height: 30px; }

.hgov-footer {
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  padding-bottom: 3%;
  font-size: 1.5vw; }
  @media (max-width: 780px) {
    .hgov-footer {
      padding-bottom: 1%; } }
  .hgov-footer .footer-block {
    margin-top: 10px; }
    .hgov-footer .footer-block .footer-logo {
      width: 40%; }
    .hgov-footer .footer-block .copy {
      font-size: 2vw; }
      .hgov-footer .footer-block .copy::after {
        content: "Copyright 2015 | heartgov"; }
    @media (max-width: 780px) {
      .hgov-footer .footer-block .footer-logo {
        width: 90%; }

      .hgov-footer .footer-block .copy {
        font-size: 4vw; }
        .hgov-footer .footer-block .copy::after {
          content: "Copyright 2015"; }
 }
  .hgov-footer #footer-left {
    text-align: left; }
    .hgov-footer #footer-left .follow {
      padding-top: 25px; }
    @media (max-width: 780px) {
      .hgov-footer #footer-left .follow {
        display: none; }
 }
  .hgov-footer #footer-right {
    text-align: right; }
    .hgov-footer #footer-right label {
      display: block;
      margin-bottom: 2px; }
    .hgov-footer #footer-right a {
      font-size: 1.5vw; }
    @media (max-width: 780px) {
      .hgov-footer #footer-right {
        font-size: 3vw; }
        .hgov-footer #footer-right a {
          font-size: 2.5vw; } }
  .hgov-footer .social-square {
    width: 12%;
    margin: 10px; }
    .hgov-footer .social-square.fb {
      margin-left: 0px; }
    @media (max-width: 780px) {
      .hgov-footer .social-square {
        width: 28%;
        display: block; }
        .hgov-footer .social-square div:first-child {
          display: none; }
        .hgov-footer .social-square.fb {
          margin-left: 10px; } }

.hgov-innerlayout-td {
  text-align: left; }

.hgov-header-button {
  border: 1px solid black; }

.hgov-disabled {
  cursor: default !important; }

.hgov-hidden-row {
  display: none; }

.hgov-template-td {
  text-align: center; }

.hgov-template-label {
  font-weight: bold;
  font-size: 16px;
  border-radius: 50px; }

.hgov-expand {
  color: black;
  transition: color 0.3s ease; }

.hgov-text-function {
  color: black;
  transition: color 0.3s ease; }

.hgov-text-function {
  color: black;
  transition: color 0.3s ease; }

.hgov-text-function:hover {
  color: #2aabd2; }

.hgov-expand:hover {
  color: #419641; }

.del {
  float: right; }

* {
  font-family: 'avenir'; }

body {
  height: 100%; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 100px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 18px; }

p {
  font-size: 18px; }

a:link, a:hover {
  font-size: 18px;
  text-decoration: none; }

.tel a[href^=tel] {
  color: inherit;
  text-decoration: none; }

.hgov-primary-button {
  background-color: #1F6BD1;
  color: #FFFFFF;
  border-radius: 0px; }

.hgov-container {
  width: 98%;
  margin: 0 auto;
  text-align: center; }

.hgov-modal {
  display: none; }

#hgov-user-information {
  display: none; }

#hgov-font-logo {
  color: #1F699C;
  font-weight: bold; }

#prefix-header {
  background-image: none;
  box-shadow: none;
  border: none;
  background-color: white; }

.navbar, .navbar-default {
  background-color: transparent;
  background: transparent;
  border: none;
  box-shadow: none; }
  .navbar li > a:link, .navbar-default li > a:link {
    color: blue; }

#hgov-header li a {
  color: #1F699C !important; }

.hgov-form-label {
  width: 160px !important; }

.hgov-form-group {
  width: 100% !important; }

#hgov-logo {
  width: 80%; }

hgov-main-table td {
  font-size: 14px; }

.hgov-date-label {
  margin-left: 15%; }

.hgov-content-label {
  position: relative;
  float: right; }

.hgov-help-block, .hgov-help-block-reply-form {
  font-size: 14px;
  color: red;
  display: none; }

.group-button {
  width: 10%; }

.del {
  float: right; }

#main-hero {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-image: url("/min/images/homepage-hero.jpg");
  width: 100%; }
  #main-hero table {
    margin: 13% auto auto;
    position: absolute;
    color: #FFFFFF;
    width: 65%;
    height: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto; }
    #main-hero table h1 {
      font-size: 2.5vw; }
    #main-hero table h2 {
      font-size: 8vw; }
    #main-hero table span a {
      font-size: 1.5vw; }

#middle #iphone {
  margin-top: -20%;
  width: 112%; }
#middle .details {
  text-align: left;
  padding-left: 4%; }
  #middle .details h3 {
    text-align: center;
    margin-top: 8%;
    font-size: 4vw; }
  #middle .details h4 {
    margin-top: 8%;
    font-size: 2.6vw; }

#next-middle {
  background-color: #1F6BD1;
  color: #FFFFFF;
  padding: 15% 0 10% 0;
  width: 100%;
  margin-bottom: 35%; }
  #next-middle div {
    vertical-align: middle; }
    #next-middle div h4 {
      margin: 0px auto;
      width: 80%;
      font-size: 3.5vw; }
  #next-middle:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 1%;
    width: 98%;
    height: 30%;
    background-color: #1F6BD1;
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    transform: skewY(4deg); }
  @media (max-width: 780px) {
    #next-middle div h4 {
      font-size: 4.5vw; }

    #next-middle:after {
      height: 21%; }
 }

#neighbors {
  text-align: left;
  margin-left: 5%;
  text-indent: 5%;
  margin-bottom: 5%; }
  #neighbors h3 {
    color: #1F6BD1;
    font-size: 3vw;
    font-weight: bold; }

.convoboxes {
  color: #FFFFFF;
  height: 50%;
  overflow: hidden;
  margin-bottom: 4%; }
  .convoboxes div {
    vertical-align: top;
    background-color: #1F6BD1;
    display: inline-block;
    width: 35%;
    margin: 0 5% 5% 5%;
    padding: 20px;
    padding-bottom: 1000px;
    margin-bottom: -1000px; }
    .convoboxes div h3 {
      margin-left: 5%;
      text-align: left;
      font-size: 2.5vw; }
    .convoboxes div h5 {
      color: #5ADED5;
      margin-left: 5%;
      text-align: left;
      font-size: 1.5vw; }

#about-hero {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-image: url("/min/images/about-hero.jpg");
  width: 100%; }
  #about-hero table {
    margin: 13% auto auto;
    position: absolute;
    color: #FFFFFF;
    width: 65%;
    height: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto; }
    #about-hero table h1 {
      font-size: 2.5vw; }
    #about-hero table h2 {
      font-size: 8vw; }
    #about-hero table span a {
      font-size: 1.5vw; }

#about-bubble {
  width: 20%; }

#about-quote {
  color: #1F6BD1; }

#about-left {
  font-size: 1.7vw; }
  #about-left div:first-child {
    margin: 2% 0 0 3%;
    padding: 1%;
    text-align: left; }
  #about-left div {
    padding-left: 3%;
    margin: 0 0 0 -3%; }

#about-middle {
  background-color: #1F6BD1;
  width: 100%;
  margin: 0px auto; }
  #about-middle div:first-child {
    text-align: center; }
    #about-middle div:first-child img {
      width: 60%;
      margin: 5% 0 0 5%; }
  #about-middle div {
    font-size: 1.7vw;
    color: #FFFFFF;
    margin: 5% 0 5% 0;
    text-align: left; }

#about-next-middle div:first-child {
  font-size: 1.7vw;
  text-align: left;
  margin: 0 0 0 3%; }
#about-next-middle div {
  margin: 0 0 0 -3%;
  text-align: left; }
  #about-next-middle div #sub-next {
    margin-top: 1.5%;
    font-size: 1.75vw; }
  #about-next-middle div #title {
    display: block;
    margin-top: 5%; }

.team-circle-cont {
  position: relative;
  border-radius: 50%;
  width: 50%;
  height: auto;
  padding-top: 50%;
  margin: 0px auto; }

.member-name {
  font-weight: bold;
  font-size: 1.5vw; }

.member-title {
  font-size: 1.25vw; }

.social-network-bio {
  margin-top: -8%; }
  .social-network-bio a img {
    width: 15%;
    margin: 0px auto;
    display: inline-block; }

.bio-pic {
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; }

.faq-header {
  background-color: #1F6BD1;
  padding: 10%; }
  .faq-header img {
    width: 18%; }
  .faq-header h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 5vw; }
  .faq-header .question {
    color: #FFFFFF;
    text-align: left;
    padding: 2%; }
    .faq-header .question .title {
      font-size: 3.7vw;
      font-weight: bold;
      margin-bottom: 3%; }
    .faq-header .question .content {
      font-size: 2.7vw; }

.triangle-down {
  width: 100%;
  height: 0;
  padding-left: 25%;
  padding-top: 25%;
  overflow: hidden;
  margin-top: -10px; }

.triangle-down div {
  width: 0;
  height: 0;
  margin-left: -500px;
  margin-top: -500px;
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-top: 400px solid #4679BD; }

#press-background-cover {
  background-color: #5ADED5;
  position: relative;
  top: 0;
  max-height: 1000px;
  min-height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-image: '';
  width: 100%; }
  #press-background-cover table {
    margin: 13% auto auto;
    position: absolute;
    color: #FFFFFF;
    width: 65%;
    height: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto; }
    #press-background-cover table h1 {
      font-size: 2.5vw; }
    #press-background-cover table h2 {
      font-size: 8vw; }
    #press-background-cover table span a {
      font-size: 1.5vw; }

.story-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.8s; }

.story-overlay:hover {
  opacity: 1; }

.story-cover {
  border: 1px solid #1F6BD1;
  background-color: #1F6BD1;
  color: #FFFFFF;
  width: 100%;
  text-align: left;
  padding: 5%;
  position: absolute;
  bottom: 0; }
  .story-cover h4 {
    font-weight: bold;
    font-size: 1.7vw; }
  .story-cover p {
    font-size: 1.3vw; }
  .story-cover h5 {
    margin-top: 10%; }
    .story-cover h5 a {
      font-size: 1.5vw;
      color: #FFFFFF;
      transition: color 0.5s; }
    .story-cover h5 a:hover {
      color: #5ADED5; }

#signup-hero {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-image: url("/min/images/signupform-background.jpg");
  width: 100%; }
  #signup-hero table {
    margin: 13% auto auto;
    position: absolute;
    color: #FFFFFF;
    width: 65%;
    height: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto; }
    #signup-hero table h1 {
      font-size: 2.5vw; }
    #signup-hero table h2 {
      font-size: 8vw; }
    #signup-hero table span a {
      font-size: 1.5vw; }

.active {
  border-bottom: 2px solid #1F6BD1; }
  .active a {
    background-color: #5ADED5 !important; }

.signup-links span {
  font-size: 3.5vw; }
.signup-links a {
  font-size: 2.5vw !important; }
