* {
  font-family: 'avenir'; }

body {
  height: 100%; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 100px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 18px; }

p {
  font-size: 18px; }

a:link, a:hover {
  font-size: 18px;
  text-decoration: none; }

#main-hero {
  background-image: url("/min/images/homepage-hero.jpg"); }

.hgov-hero-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: center;
  position: relative; }
  .hgov-hero-image table {
    margin: auto;
    position: absolute;
    color: #FFFFFF;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto; }
    .hgov-hero-image table h1 {
      font-size: 3vw; }
    .hgov-hero-image table h2 {
      font-size: 8vw; }
    .hgov-hero-image table span a {
      font-size: 1.5vw; }

#middle #iphone {
  margin-top: -20%;
  width: 75%; }
#middle .details {
  text-align: left;
  margin-top: 10px; }
  #middle .details h3 {
    font-size: 3vw; }
  #middle .details h4 {
    font-size: 1.5vw; }

#next-middle {
  background-color: #1F6BD1;
  color: #FFFFFF;
  padding: 10% 0 10% 0; }
  #next-middle div h4 {
    margin: 0px auto;
    width: 60%;
    line-height: 35px;
    font-size: 2.5vw; }

.angle-left {
  width: 0;
  height: 0;
  border-top: 50px solid #1F6BD1;
  border-left: 980px solid transparent; }

#neighbors {
  text-align: left;
  margin-left: 5%;
  text-indent: 5%;
  margin-bottom: 5%; }
  #neighbors h3 {
    color: #1F6BD1;
    font-size: 3vw; }

.convoboxes {
  color: #FFFFFF;
  height: 50%; }
  .convoboxes div {
    vertical-align: top;
    background-color: #1F6BD1;
    display: inline-block;
    width: 35%;
    margin: 0 5% 5% 5%;
    height: 190px;
    padding: 20px; }
    .convoboxes div h3 {
      margin-left: 5%;
      text-align: left;
      font-size: 2.5vw; }
    .convoboxes div h5 {
      color: #5ADED5;
      margin-left: 5%;
      text-align: left;
      font-size: 1.5vw; }

.hgov-primary-button {
  background-color: #1F6BD1;
  color: #FFFFFF;
  padding: 2.5% 5% 2.5% 5%; }

.hgov-container {
  width: 98%;
  margin: 0 auto;
  text-align: center; }

.hgov-modal {
  display: none; }

#hgov-user-information {
  display: none; }

#hgov-font-logo {
  color: #1F699C;
  font-weight: bold; }

#prefix-header {
  background-image: none;
  box-shadow: none;
  border: none;
  background-color: white; }

.hgov-hero-image {
  width: 100%; }

.navbar {
  background-color: transparent;
  background: transparent;
  border: none; }

#hgov-header li a {
  color: #1F699C !important; }

.hgov-form-label {
  width: 160px !important; }

.hgov-form-group {
  width: 100% !important; }

#hgov-logo {
  width: 80%; }

hgov-main-table td {
  font-size: 14px; }

.hgov-date-label {
  margin-left: 15%; }

.hgov-content-label {
  position: relative;
  float: right; }

.hgov-help-block {
  font-size: 14px;
  color: red;
  text-indent: 165px;
  display: none; }

.hgov-footer-clear {
  padding-top: 20px;
  height: 30px; }

.hgov-footer {
  width: 100%;
  text-align: center;
  margin-bottom: -10px; }
  .hgov-footer .footer-block {
    margin-top: 10px; }
  .hgov-footer #footer-right {
    text-align: left; }
  .hgov-footer #footer-left {
    text-align: right; }
    .hgov-footer #footer-left label {
      display: block;
      margin-bottom: 2px; }
  .hgov-footer .social-square {
    width: 15%;
    margin: 10px; }

.hgov-header-button {
  border: 1px solid black; }

.hgov-disabled {
  cursor: default !important; }

.hgov-hidden-row {
  display: none; }

.hgov-template-td {
  text-align: center; }

.hgov-template-label {
  font-weight: bold;
  font-size: 16px;
  border-radius: 50px; }

.hgov-expand {
  color: black;
  transition: color 0.3s ease; }

.hgov-text-function {
  color: black;
  transition: color 0.3s ease; }

.hgov-text-function {
  color: black;
  transition: color 0.3s ease; }

.hgov-text-function:hover {
  color: #2aabd2; }

.hgov-expand:hover {
  color: #419641; }

@media screen and (min-width: 800px) {
  #hgov-login-container {
    margin-top: -40px; } }
#hgov-login-container input, #hgov-login-container button {
  margin: 5px; }
#hgov-login-container button {
  margin-top: 2px; }

@media screen and (min-width: 800px) {
  #main-hero {
    font-size: 10px; }
 }
