#press-background-cover {
    background-color: $teal;
    position:relative;
    top: 0;
    max-height: 1000px;
    min-height: 600px;

    @include hero-image('', false);
}

.press {
    &.container {
        padding-top: 30%;
    }
}

.hgov-story {
    @include hero-image('', false);
}
.story-overlay {
    position:absolute; 
    top: 0; 
    height:100%; 
    width:100%; 
    opacity: 0;
    transition: opacity .8s;
}

.story-overlay:hover {
    opacity: 1;
}

.story-cover{
    border: 1px solid $primary-blue;
    background-color: $primary-blue;
    color: $white;
    width:100%;
    text-align: left;
    padding: 5%;
    position:absolute; 
    bottom:0;

    h4 {
        font-weight: bold;
        font-size: 1.7vw;

        @include mobile {
            font-size: 3.5vw;
        }
    }

    p {
        font-size: 1.3vw;

        @include mobile {
            font-size: 2.5vw;
        }
    }   

    h5 {
        margin-top: 10%;

        a {
            font-size: 1.5vw;
            color: $white;
            transition: color .5s;
        }


        @include mobile {
            a {
                font-size: 2.5vw;
            }
        }

        a:hover {
            color: $teal;
        }
    }
}