#signup-hero {
    @include hero-image(url("/min/images/signupform-background.jpg"), true);

    table {
        margin: 4% auto auto;
    }
}

.active {
    border-bottom: 2px solid $primary-blue;

    a {
        background-color: $teal !important;
    }
}

.signup-links {
    span {
        font-size: 3.5vw;
    }
    a {
        font-size: 2.5vw !important;
    }
}
