##{$prefix}-spinner-wrap {
    content: "";
    display: none;
    position: absolute;
    top: 45%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 0;
    height: 0;
    border: solid 30px;
    border-radius: 5em;
    border-color: $primary-blue transparent $primary-blue transparent;
    animation: spin 1s linear infinite;

    .item {
        display: inline-block;
        padding: 0 5em;

        .spinner {

        }

    }
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}